<html>
    <head>
        <title>Product</title>
        <link rel="stylesheet" href="/styles/first.css">
    </head>
    <body>
        <% for (const a of data) {%>
        <div class="div_main">
            
            <h1> <%= a.title %> </h1>
            <!-- <h1> <%= a._id %> </h1> -->
            <form action="/admin/editProduct" method="POST">
                <input type="hidden" value="<%= a._id %>" name="id">
                <input type="submit" name="edit" value="edit"></input>
            </form>
            <form action="/admin/deleteProduct" method="POST">
                <input type="hidden" value="<%= a._id %>" name="id" >
                <input type="submit" name="delete" value="delete"></input>
            </form>
            <form action="/admin/addToCart" method="POST">
                <input type="hidden" value="<%= a._id %>" name="id" >
                <input type="submit" name="delete" value="add To Cart"></input>
            </form>

            

        </div>
        <% }%>
    </body>
</html>
