<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/first.css">
    <title>Document</title>
</head>
<body>
    <h1> All Products </h1>
    <% for (const a of data) { %>
    <div class="div_main">
        <p> <%= a.title %> </p>
        <p> <%= a.price %> </p>
        <form action="/mongoose/updateProductPage" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" value="<%= a._id %>" name="id">
            <input type="submit" name="edit" value="edit"></input>
        </form>
        <form action="/mongoose/deleteProduct" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" value="<%= a._id %>" name="id">
            <input type="submit" name="delete" value="delete"></input>
        </form>
        <form action="/mongoose/addToCart" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" value="<%= a._id %>" name="id">
            <input type="submit" name="delete" value="Add To Cart"></input>
        </form>
        <!-- <form action="/admin/deleteProduct" method="POST">
            <input type="hidden" value="<%= a._id %>" name="id" >
            <input type="submit" name="delete" value="delete"></input>
        </form>
        <form action="/admin/addToCart" method="POST">
            <input type="hidden" value="<%= a._id %>" name="id" >
            <input type="submit" name="delete" value="add To Cart"></input>
        </form> -->
    </div>
    <% } %>
   
</body>
</html>